/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  background-color: #000 !important;
}

.cover-container {
  max-width: 42em;
}


/* Navbar Styles */
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    margin-right: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #fff;
    transform: scale(1.1);
}

.navbar-brand {
    font-weight: 700;
}

/* Change navbar background color on scroll */
body.scrolled .navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Change navbar link colors based on background */
body.scrolled .navbar-dark .nav-link {
    color: #fff;
}

body.scrolled .navbar-light .nav-link {
    color: #000;
}
body.scrolled .navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Collapse button color */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Custom Navbar Styles */
.custom-navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.custom-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-navbar .navbar-brand {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.custom-navbar .navbar-toggler {
    display: block;
    border: none;
    background: none;
}


.custom-navbar .navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
}

.custom-navbar .navbar-toggler-icon::before,
.custom-navbar .navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.custom-navbar .navbar-toggler-icon::before {
    top: -10px;
}

.custom-navbar .navbar-toggler-icon::after {
    top: 10px;
}

.custom-navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-navbar .navbar-nav {
    flex-flow: row;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.custom-navbar .nav-item {
    margin-left: 1rem;
}

.custom-navbar .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
    color: #fff;
    transform: scale(1.1);
}

/* Change navbar background color on scroll */
body.scrolled .custom-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}
#navbar-toggler{
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .custom-navbar .navbar-toggler {
        display: block;
    }

    .custom-navbar .navbar-collapse {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 100%;
        left: 0;
    }

    .custom-navbar .navbar-collapse.show {
        display: flex;
        background-color: transparent;
    }

    .custom-navbar .navbar-nav{
        width: 100%;
        flex-flow: column;
        text-align: start;
        align-self: start;
    }

    .custom-navbar .nav-item {
        margin: 0;
        padding: 0 2rem;
        width: 100%;
        text-align: start;
    }
    #navbar-toggler{
      display: block !important;
    }
  }
  /* HERO SECTION*/
#hero{
  background: 
      radial-gradient(circle, #6c6c6c8c, #0e0e0ee2),
      url("Images/oxana-lyashenko-FtNM2H1RXZ8-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#hero>h1{
  font-weight: 700;
}

/* Hero Section Animations */
@keyframes slideInFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.hero-h1 {
  opacity: 0;
  animation: slideInFromLeft 1s forwards;
  font-size: 4rem;
}

.hero-p {
  opacity: 0;
  animation: slideInFromRight 1s forwards;
  font-size: 2rem;
}

article {
  border-left: 6px solid white !important;
  padding-left: 1rem;
  background-color: #333;
  border-radius: 0.4rem;
  padding: 1rem;
}


#card-form-section,
#cards-section {
    margin-bottom: 2rem;
}
#cards-section>h2{
  text-align: center;
  margin-bottom: 2rem;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.MissingPersonCard h3 {
  margin-bottom: 8px;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.MissingPersonCard p {
    margin-bottom: 16px;
    color: #b5b5b5;
}
.MissingPersonCard img{
  display: inline-block;
    vertical-align: top;
    width: 8.5em;
    max-width: 100%;
    height: 8.5em;
    border-radius: 0.25em;
    -webkit-box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.2);
    -webkit-filter: brightness(1.05);
    filter: brightness(1.05);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
}
@media (max-width: 680px) {
  .cards-container {
    flex-flow: column;  
    justify-content: center;
    align-items: center;
}
.MissingPersonCard{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.MissingPersonCard button {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.MissingPersonCard button:hover {
    background-color: #fff;
    color: #4a90e2;
}

/* Form Container Styles */
.form-container {
  margin: auto;
  background-color: #1e1e1ea8;
  border-radius: 8px;
  padding: 20px 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-container h1, .form-container p {
  color: #fff;
}

.form-container.hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.form-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Custom Form Styles */
.custom-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.custom-form input {
  width: 100%;
  padding: 10px 12px;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  color: white;
}

.custom-form input:focus {
  outline: none;
  border: 1px solid #4a90e2;
}

.custom-form label {
  display: none;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #aaa;
  transition: all 0.3s ease;
  pointer-events: none;
}
span.fullstop {
  font-size: 4rem;
  color: #4a90e2;
}
#navbar-toggler{
  display: none;
}
.custom-form input:focus + label,
.custom-form input:not(:placeholder-shown) + label {
  top: -10px;
  left: 12px;
  font-size: 12px;
  color: #cbcbcb;
}

.custom-form .toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

/* INLINE GROUP for First Name and Last Name */
.inline-group {
  display: flex;
  gap: 10px;
}

.inline-group .form-group {
  flex: 1;
}

/* Form Actions */
.form-actions {
  text-align: center;
}

.primary-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: #357ab8;
}

/* Form Links */
.form-links {
  text-align: center;
  margin-top: 1rem;
}

.form-links a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.form-links a:hover {
  color: #357ab8;
}

.form-control {
  color: #fff !important;
  background-color: #333 !important;
  border: none !important;
}
.form-select {
  color: #8a8989 !important;
  background-color: #333 !important;
  border: none !important;
}

#lostCards>.form-container{
  width: 100% !important;
}
#card-form-section > .form-container{
  background-color: #333;
  width: 100%;
}
textarea#feedback, #personalDetails {
  width: 100%;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  color: aliceblue;
}
label.radioLabel {
  display: block;
  position: relative;
  top: 10px !important;
  left: 0 !important;
  transition: none !important;
  font-size: 1rem !important;
  color: #aaa !important;
}
#ReportingMissing, #ReportingFound{
  width: max-content;
}


  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (max-width: 768px) {
    
  }
  