<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Child Alert Hub is a web-based platform dedicated to raising awareness about missing children and facilitating their safe recovery. The platform collaborates with trusted authorities, such as the police, to provide verified and up-to-date reports on missing child cases. Users must log in to access detailed information, ensuring the security and credibility of the system.">
        <meta name="author" content="Levi Udoh">
        <title>Child Alert Hub</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="icon" href="{{ url_for('static', filename='Images/favicon.jpeg') }}" type="image/x-icon">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body class="h-100  text-white">
        <nav class="custom-navbar">
          <div class="container">
              <a class="navbar-brand" href="https://childalerthub.onrender.com/">Child Report System</a>
              <button class="navbar-toggler" id="navbar-toggler">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse" id="navbar-collapse">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#About">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Report">Report</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Contact">Contact</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/login">Log In</a>
                      </li>
                  </ul>
              </div>
          </div>
        </nav>
        <main>
          <section id="hero" class="text-center mb-5 d-flex flex-column justify-content-center">
            <h1 class="hero-h1">Missing Child Database</h1>
            <p class="lead hero-p">Welcome {{ first_name }} {{ last_name }}</p>
          </section>
          <section id="article">
            <div class="container">
              <p>Over 50,000 children are reported missing in Nigeria each year. While many are found quickly, some become long-term missing cases. <b>You can make a difference.</b style="color: #4a90e2;"> The Child Report System helps law enforcement locate missing children faster.</p>
              <article class="mb-4">
                <h2>Here's how you can help:</h2>
                <ol>
                  <li>Report missing children: If you suspect a child is missing, report it immediately to the nearest police station or through the Child Report System.</li>
                  <li>Spread awareness: Share this message with your friends and family to raise awareness about the issue of missing children.</li>
                  <li>Support organizations: Donate to or volunteer with organizations that work to find missing children in Nigeria.</li>
                </ol>
              </article>
              <p id="note"><b>Note</b>: Details listed for each missing child are based on what was known at the time of their disappearance. Height, weight, and hair colour may have changed.</p>
            </div>
          </section>
        </main>
        <footer class="mt-auto text-white-50 text-center border-top mt-4 py-2">
          <p>&copy; Child Report System @ <span id="year"></span></p>
        </footer>         

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>